<a href="https://colab.research.google.com/github/megahadi/Data-Mining/blob/main/decisiontree_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
SKMDataset = pd.read_csv('nilai-rata-rata-hasil-survei-kepuasan-masyarakat..csv', delimiter=',', header=0)

In [3]:
SKMDataset.head()

            kelurahan  nilai_rata_rata  nilai__skm  mutu_pelayanan   keterangan
0          Kayu Manis             3.62       90.57               1  SANGAT BAIK
1       Kebon Manggis             3.19       79.81               0         BAIK
2           Palmeriam             3.26       81.39               0         BAIK
3       Pisangan Baru             3.65       91.07               1  SANGAT BAIK
4  Utan Kayu Selatan              3.64       90.91               1  SANGAT BAIK

In [4]:
SKMDataset["keterangan"] = pd.factorize(SKMDataset.keterangan)[0]

In [5]:
SKMDataset = SKMDataset.drop(labels="kelurahan", axis=1)

In [6]:
SKMDataset = SKMDataset.to_numpy()

In [7]:
dataTraining = np.concatenate((SKMDataset[0:40, :], SKMDataset[50:90, :]), axis=0)
dataTesting = np.concatenate((SKMDataset[40:50, :], SKMDataset[90:100, :]), axis=0)

In [8]:
inputTraining = dataTraining[:, 0:3]
inputTesting = dataTesting[:, 0 :3]
labelTraining = dataTraining[:, 3]
labelTesting = dataTesting[:, 3]

In [9]:
model = tree.DecisionTreeClassifier()

In [10]:
model = model.fit(inputTraining, labelTraining)

In [11]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Sebenarnya : ", hasilPrediksi)

Label Sebenarnya :  [2. 2. 2. 2. 2. 2. 2. 1. 2. 2.]
Hasil Sebenarnya :  [2. 2. 2. 2. 2. 0. 2. 2. 2. 2.]

In [12]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("Akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  8 data
Prediksi Salah :  2 data
Akurasi :  80.0 %